@page
@model ICBFApp.Pages.Usuario.IndexModel
@{
}
@if (!string.IsNullOrEmpty(Model.SuccessMessage))
{
    <div class="alert alert-success alert-dismissible fade show" role="alert" id="success-message">
        <strong>@Model.SuccessMessage</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="close"></button>
    </div>
}

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script>
        $(document).ready(function () {
            setTimeout(function () {
                $("#success-message").fadeOut("slow");
            }, 5000); 
        });

        
        function confirmarEliminacion(idUsuario) {
            Swal.fire({
                title: '¿Desea continuar?',
                text: "Esta eliminando el Usuario ¿Esta seguro?",
               
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Sí!',
                cancelButtonText: 'Volver'
            }).then((result) => {
                if (result.isConfirmed) {
                    window.location.href = '/Usuario/Delete?id=' + idUsuario;
                } else {
                   
                }
            });
        }
    </script>
}

<br />
<h2>Lista de Usuarios</h2>
<a class="btn btn-primary btn-sm" href="/Usuario/Create">
    <span class="material-symbols-outlined">AGREGAR USUARIO</span>
</a>
<div></div>
<table class="table table-light table-striped">

    <thead >
        <tr>
            <td>ID</td>
            <td>Tipo Documento</td>
            <td>Identificación</td>
            <td>Nombres</td>
            <td>Fecha de Nacimiento</td>
            <td>Edad</td>
            <td>Celular</td>
            <td>Dirección</td>
            <td>Rol</td>
            <td>Acciones</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.listUsuario)
        {
            <tr>
                <td>@item.idUsuario</td>
                <td>@item.datosBasicos.tipoDoc.tipo</td>
                <td>@item.datosBasicos.identificacion</td>
                <td>@item.datosBasicos.nombres</td>
                <td>@item.datosBasicos.fechaNacimiento</td>
                <td>@item.edad</td>
                <td>@item.datosBasicos.celular</td>
                <td>@item.datosBasicos.direccion</td>
                <td>@item.rol.nombre</td>
                <td>
                    <a class="btn btn-primary btn-sm" href="/Usuario/Edit?id=@item.idUsuario">
                        <span class="material-symbols-outlined">EDITAR</span>
                    </a>
                    <a class="btn btn-danger btn-sm" href="#" onclick="confirmarEliminacion(@item.idUsuario)">
                        <span class="material-symbols-outlined">ELIMINAR</span>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>